*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* header start  */
/* nav */
.container{
    padding: 0px 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.navbar ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* nav */

