*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* header start  */
/* nav */
.container{
    padding: 0px 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.navbar ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #30B868;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #30B868;
    border: 1px solid #30B868;
    transition: 0.6s;
}
/* nav */

/* hero */
.hero{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}
.hero-content{
    padding: 0px 60px;
}
.hero-content .subtitle{
    background-color: white;
    color: #30B868;
    display: inline;
    padding: 8px 12px;
    border: none;
    border-radius: 25px;
}
.hero-content h1{
    margin-top: 16px;
    font-size: 72px;
    color: white;
}
.hero-content h1 span{
    font-size: 84px;
    color: #30B868;
}
.hero-content p{
    color: white;
    line-height: 24px;
}
.hero-content .hero-button{
    margin-top: 32px;
}

/* hero */